In [ ]:
#address=212
print(3+3)

6

In [ ]:
example=(1,"parth",3.12,False)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[3])
print(example[-1])

(1, 'parth', 3.12, False)
4
<class 'tuple'>
1
(1, 'parth', 3.12)
False
False

In [ ]:
number=(2,3,4,7,5,7)
print(number)
add=(2,4,5,7)
print(number+add)
print(add*4)

(2, 3, 4, 7, 5, 7)
(2, 3, 4, 7, 5, 7, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
example={1,1,2,3,3,4,5,6,7}
print(example)
print(type(example))
print(len(example))
example.add("bkc")
print(example)
example.add(5.67)
print(example)
example.add("True")
print(example)
example.remove(4)
print(example)
print(example.pop())
print(example)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'bkc', 'True'}
{1, 2, 3, 5, 6, 7, 5.67, 'bkc', 'True'}
1
{2, 3, 5, 6, 7, 5.67, 'bkc', 'True'}

In [ ]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first|second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first.difference(second))
print(second.difference(first))
print(first-second)
print(second-first)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [ ]:
dict={"roll_number":201,
      "name":"parth",
      "address":"mangavavi",
      "cgpa":99.5,
      "course":"bca",
      "year":2025}
print(dict)
print(len(dict))
dict["gender"]="male"
print(dict)
print(len(dict))
dict["mobile no"]=8748952815
print(dict)
dict["college name"]="bkc"
print(dict)
print(dict.get("name"))
dict["college name"]="tumukur"
print(dict)
del dict["gender"]
print(dict)
dict["gender"]="male"
print(dict)
print(dict["college name"])
dict["age"]=20
print(dict["age"])
dict.pop("address")
print(dict)
print(dict.popitem())
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025}
6
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'gender': 'male'}
7
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'gender': 'male', 'mobile no': 8748952815}
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'gender': 'male', 'mobile no': 8748952815, 'college name': 'bkc'}
parth
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'gender': 'male', 'mobile no': 8748952815, 'college name': 'tumukur'}
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'mobile no': 8748952815, 'college name': 'tumukur'}
{'roll_number': 201, 'name': 'parth', 'address': 'mangavavi', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'mobile no': 8748952815, 'college name': 'tumukur', 'gender': 'male'}
tumukur
20
{'roll_number': 201, 'name': 'parth', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'mobile no': 8748952815, 'college name': 'tumukur', 'gender': 'male', 'age': 20}
('age', 20)
{'roll_number': 201, 'name': 'parth', 'cgpa': 99.5, 'course': 'bca', 'year': 2025, 'mobile no': 8748952815, 'college name': 'tumukur', 'gender': 'male'}
dict_keys(['roll_number', 'name', 'cgpa', 'course', 'year', 'mobile no', 'college name', 'gender'])
dict_values([201, 'parth', 99.5, 'bca', 2025, 8748952815, 'tumukur', 'male'])
dict_items([('roll_number', 201), ('name', 'parth'), ('cgpa', 99.5), ('course', 'bca'), ('year', 2025), ('mobile no', 8748952815), ('college name', 'tumukur'), ('gender', 'male')])
None

In [159]:
employe={"employe-id":101,"employe name":"parth","mo no":1234567891,"sallary":20000,"email_id":"pc471849@gmail.com","company":"google","employe habbits":"football"}
print(employe)
employe["department"]="developer"
print(employe)
print(employe["sallary"])
print(len(employe))
employe["department"]="testing"
print("employe")
print(employe.keys())
print(employe.items())
print(employe.values())
print(employe.clear())

{'employe-id': 101, 'employe name': 'parth', 'mo no': 1234567891, 'sallary': 20000, 'email_id': 'pc471849@gmail.com', 'company': 'google', 'employe habbits': 'football'}
{'employe-id': 101, 'employe name': 'parth', 'mo no': 1234567891, 'sallary': 20000, 'email_id': 'pc471849@gmail.com', 'company': 'google', 'employe habbits': 'football', 'department': 'developer'}
20000
8
employe
dict_keys(['employe-id', 'employe name', 'mo no', 'sallary', 'email_id', 'company', 'employe habbits', 'department'])
dict_items([('employe-id', 101), ('employe name', 'parth'), ('mo no', 1234567891), ('sallary', 20000), ('email_id', 'pc471849@gmail.com'), ('company', 'google'), ('employe habbits', 'football'), ('department', 'testing')])
dict_values([101, 'parth', 1234567891, 20000, 'pc471849@gmail.com', 'google', 'football', 'testing'])
None

In [ ]:
name={"Name":"parth","name":"parth","name":"parth","f_name":"parth","l_name":"parth"}
print(name)

{'Name': 'parth', 'name': 'parth', 'f_name': 'parth', 'l_name': 'parth'}

In [164]:
a=10
print(a)
b=3
print(b)
c=a/b
print(type(c))

10
3
<class 'float'>

In [169]:
a=10
b=3
c=a+b
print(type(c))
print(type(a))
print(type(b))
print(type(a/b))
x=2.5
y=3.5
print(type(x+y))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [192]:
m=2.9
n=False
o=m-n
print(type(o))
p=True
q=False
r=p+q
print(type(r))

s=2.6
t=False
print(type(s+t))

p=77
q=False
r=p+q
print(type(r))
# implicit
num=3.12
print(type(num))
add=int(num)
# explcit
print(type(add))
add=str(num)
print(type(add))
add=float(num)
print(type(num))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>

In [270]:
from ctypes import DEFAULT_MODE
num="101"
print(type(num))
add=int(num)
print(type(add))


num=True
print(type(num))
add=int(num)
print(type(add))

print(type(str(100)))

a=10
print(type(a))
add=bool(a)
print(type(add))

men=1
print(type(men))
print(type(bool(men)))

demo=9.9
print(type(demo))
print(type(str(demo)))

men=9.99
print(type(men))
print(type(bool(men)))

demo=True
print(type(demo))
print(type(str(demo)))

men=False
print(type(men))
print(type(float(men)))

demo=False
print(type(demo))
ex=float(demo)
print(type(ex))

a="101"
print(type(a))
print(type(float(a)))

a="False"
print(type(a))
print(type(bool(a)))

a="parth"
print(type(a))
print(type(list(a)))

a=10,20
print(type(a))
print(type(str(a)))

a=1,2,3
print(type(a))
print(type(list(a)))

a={1,2,3}
print(type(a))
print(type(list(a)))

a={"name":"parth","age":20,"address":"mangavavi"}
print(type(a))
print(type(list(a)))

a='par'+'th'
print(type(a))
print(tuple(a))
a=[("a",1),("b",2),("c",3)]
print(type(a))
print(type(tuple(a)))

a={1,2,3}
print(type(a))
print(type(tuple(a)))

a={"name":"parth","age":20}
print(type(a))
print(type(tuple(a)))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'list'>
<class 'str'>
('p', 'a', 'r', 't', 'h')
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'tuple'>

In [289]:
a=10
b=20
print("a=20,b=10")

a=10
b=20
temp=0
print("before swapping")
print("a=",a,"b=",b)
print("=========")
print("after swapping")
temp=a
a=b
b=temp
print("a=",a,"b=",b)

a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print("=========")
print("after swapping")
a=a+b
b=a-b
a=a+b
print("a=","b=",b)

a=20,b=10
before swapping
a= 10 b= 20
=========
after swapping
a= 20 b= 10
before swapping
a= 10 b= 20
=========
after swapping
a= b= 10