In [ ]:
example=["laptop",29000,"window","lenovo","bengaluru","laptop",29000,"mac","lenovo","chikodi"]
print(example)
print(example.count("lenovo"))

['laptop', 29000, 'window', 'lenovo', 'bengaluru', 'laptop', 29000, 'mac', 'lenovo', 'chikodi']
2

In [ ]:
a=10
b=20
print(a+b)

x=int(input("enter  x value:"))
y=int(input("enter  y value:"))
print(x+y)

x=int(input("enter x value:"))
y=int(input("enter y value:"))
print("addition of",x,"and",y,"value is=",x+y)

30
enter  x value:10
enter  y value:20
30
enter x value:10
enter y value:20
addition of 10 and 20 value is= 30

In [ ]:
first_name =input("enter first name:")
last_name=input("enter second name:")
print(first_name +" "+last_name)

enter first name:parth
enter second name:chavhan
parth chavhan

In [ ]:
i=int(input("enter the value:"))
j=int(input("enter the value:"))
print(i*j)

enter the value:7
enter the value:6
42

In [ ]:
print("hellow word")

hellow word

In [ ]:
i=input()
j=input()
print(i+" "+j)

bkc
collge
bkc collge

In [ ]:
a=100
b=50
print(f'divition of {a} and {y} value is = {a/b}')

divition of 100 and 20 value is = 2.0

In [ ]:
a=100
b=50
print(f"addtion of {a} and {b} value is = {a+b}")

addtion of 100 and 50 value is = 150

In [ ]:
name="parth"
course="mca"
year=2024
department="bca"
pincode=591201
print(f"hi,good morning my name is {name},i have completed {course},in the year of {year},currently i'm working in kle bk {department},college chikodi {pincode}")

hi,good morning my name is parth,i have completed mca,in the year of 2024,currently i'm working in kle bk bca,college chikodi 591201

In [ ]:
a=10
b=5
sum=(a*b)
print(sum)

#arithmatic operators
a=5
b=2
sum=(a/b)
print(sum)

50
2.5
125

In [ ]:
a=2
b=4
sum=(a+b)
print(sum)

sum=(a-b)
print(sum)

sum=(a*b)
print(sum)

sum=(a/b)
print(sum)

sum=(a//b)
print(sum)

sum=(a%b)
print(sum)

sum=(a**b)
print(sum)

6
-2
8
0.5
0
2
16

In [ ]:
a=2
b=4
sum=(a+b,a-b,a*b,a/b,a//b,a%b,a**b)
print(sum)

(6, -2, 8, 0.5, 0, 2, 16)

In [ ]:
a=int(input("enter the value:"))
b=int(input("enter the value:"))
sum=(a+b,a-b,a*b,a/b,a//b,a%b,a**b)
print(sum)

enter the value:2
enter the value:4
(6, -2, 8, 0.5, 0, 2, 16)

In [ ]:
a=35
b=40
sum=(a==b,a!=b,a>b,a<b,a>=b,a<=b)
print(sum)

(False, True, False, True, False, True)

In [ ]:
a=35
b=40
print(a>b)
print(b<a)
print(a<=b)
print(a==35)
print(a!=b)
print(b>=40)
print(a==b)

False
False
True
True
True
True
False

In [ ]:
a=20
b=35
c=13
d=10
print(a==b and c>d)
print(13!=c and d>c)
print(b>a and d<c)
print(20 != a and c==b)

print(a<b or d==c)
print((not(a<b)) and 100<200)
print(not(d==10))
print(35!=d or (not(20==a)))
print(not(c<=b and (not(a<=c))))

False
False
True
False
True
False
False
True
False

In [ ]:
x=10
print(x)

x=10
x-=2
print(x)

x*=5
print(x)


x//=3
print(x)

x**=2
print(x)

x%=4
print(x)

x+=9
print(x)

x/=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [118]:
num=9
if num<10 :
  print("10  is a greater than 9")

  user_id="20mca103"
  password=1234
  if user_id=="20mca103" and password== 1234:
    print("login succesfully")

    ex=59
    if ex==58:
      print("are you understand")

      name="parth"
      if name<=bkc:
        print("my name is parth")

10  is a greater than 9
login succesfully

In [128]:
num=int(input("enter a number value:"))
if num > 0:
        print("positive number")
else:
        print("negative number")

enter a number value:99
positive number

In [130]:
num=int(input("enter  number value:"))
if num %2==0:
  print("even number")
else:
  print("odd number")

enter  number value:22
even number

In [142]:
age=int(input("enter age value:"))
if age>=18:
  print("you are eligible for vote")
else:
 print("you are not eligible for vote")

enter age value:23
you are eligible for vote

In [143]:
age=int(input("enter age value:"))
if age>=17:
  print("they are eligible to take addmition")
else:
  print("they are not eligible to take addmition")

enter age value:23
they are eligible to take addmition

In [157]:
user_id= (input("enter user_id value:"))
password= (input("enter password value:"))
if user_id=="college" and password=="1234":
  print("login succesfully")
else:
  print("invalid details")

enter user_id value:college
enter password value:1234
login succesfully

In [171]:
marks=int(input("enter marks value:"))
if marks >=85:
  print("distingtion")
elif marks >=75:
  print("pass")
elif marks >=55:
  print("just pass")
elif marks >=35:
  print("fail beter luck next time")

enter marks value:110
distingtion

In [181]:
prize=(input("enter prize medal:"))
if prize== "gold" :
   print("first prize")
elif prize=="selver":
    print("second prize")
elif prize== "bronze":
     print("third prize")
else:
  print("beter luck next time")

enter prize medal:selver
second prize

In [189]:
signal=input("enter colure of signal")
if signal== "red":
  print("stop")
elif signal== "green":
  print("go")
elif signal== "yellow":
  print("redy to go")
else:
  print("invalid signal")

enter colure of signalyellow
redy to go