In [ ]:
a,b,c=10,20,30
if a>b and a>c:
  print("a is greter")
if b>a and b>c:
    print("b is greter")
else :
    print("c is greter")

a=-5
if a>0:
  print("a is positive")
else:
  print("a is negative")

c is greter
a is negative

In [ ]:
# write a program arithmatic operatpor using statement
x,y=10,20
option=(input("enter your choice option"))
match option:
  case '+':
    print("sum of values ",x+y)
  case '-':
    print("substraction of values",x-y)
  case '*':
    print("multiplication of values",x*y)
  case '/':
    print("division of values",x/y)
  case '%':
    print("modulus of values",x%y)
  case '_':
    print("invalide option")
  case'!=':
    print("x is not equal to y",x!=y)

enter your choice option!=
x is not equal to y True

In [ ]:
day=int(input("enter a day:"))
match day:
  case 1:
    print("sunday")
  case 2:
    print("monday")
  case 3:
    print("tuesday")
  case 4:
    print("wendsaday")
  case 5:
    print("thursday")
  case 6:
    print("friday")
  case 7:
    print("saturday")
  case _:
    print("holiday")

enter a day:3
tuesday

In [ ]:
month=int(input("enter a month:"))
match month:
  case 1:
    print("january")
  case 2:
    print("february")
  case 3:
    print("march")
  case 4:
    print("april")
  case 5:
    print("may")
  case 6:
    print("june")
  case 7:
    print("july")
  case 8:
    print("august")
  case 9:
    print("september")
  case 10:
    print("october")
  case 11:
    print("november")
  case 12:
    print("december")
  case _:
    print("invalid numbeer")

enter a month:20
invalid numbeer

In [ ]:
i=1
add=0
while i<=10:
  add=add+i
  i=i+1
  print("sum of n naturai number is :",add)

In [ ]:
num=5
i=1
while i<=10:
   print("5*",i,"=",num*i)
   i=i+1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [ ]:
num=370
rem=0
sum=0
while num!=0
  rem=num%10
  sum=sum+rem*rem*rem
  num=num//10
  if temp==sum:
    print("armstrong number")
  else:
    print("not armstrong number")

In [ ]:
num=12345
rem=0
rev=0
temp=num
while num>0:
  rem=num%10
  rev=rev*10+rem
  num=num//10
if temp==rev:
  print("palindrome number")
else:
  print("not palindrome number")

In [ ]:
i=2
while i<=100:
  print(i, end=" ")
  i+=2

In [ ]:
num,a,b=10,0,1
i=0
while i <=num:
  print(a, end=" ")
  a,b=b, a+b
  i+=1

In [ ]:
num=int(input("enter a number value"))
count=0
while i<=num:
  if num % i==0:
    count+=1
  i+=1
if count==2:
  print("prime number")
else :
  print("not prime number")

In [ ]:
num=10
i=0
while num>=i:
  print(num,end=" ")
  num-=1

In [ ]:
i=1
while i <=1280:
print(i,end=" ")
i*=2