In [ ]:
def add(*args):
  total=0
  for num in args:
    total+=num
  print("total value is:",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

total value is: 15
total value is: 18
total value is: 90

In [ ]:
def detals(**kwargs):
  for key,value in kwargs.items():
    print(f'my detals is {key} and {value}')
detals(course="bca",section='c',college="bk college")
detals(place="belagavi")
detals(roll_num=201,t_subject=7)
detals(laptop="hp",o_s="window",year=2022,version="wondows 11")

my detals is course and bca
my detals is section and c
my detals is college and bk college
my detals is place and belagavi
my detals is roll_num and 201
my detals is t_subject and 7
my detals is laptop and hp
my detals is o_s and window
my detals is year and 2022
my detals is version and wondows 11

In [ ]:
def show_values(*args,**kwargs):
  print("positional arguments represented in tuple",args)
  print("key-words arguments represented in dict",kwargs)
show_values(1,2,3,4,name="parth")

show_values(5,8,1,10,Class="bca c section",gender="male")

positional arguments represented in tuple (1, 2, 3, 4)
key-words arguments represented in dict {'name': 'parth'}
positional arguments represented in tuple (5, 8, 1, 10)
key-words arguments represented in dict {'Class': 'bca c section', 'gender': 'male'}

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
def fact(num):
  if num==0 or num==1:
    return 1
  else:
    return num*fact(num-1)
print("factorial number is :",fact(5))

factorial number is : 120

In [ ]:
def sum(num):
  if num==0:
    return num
  else:
    return num+sum(num-1)
print("sum of N natural number is :",sum(10))

sum of N natural number is : 55

In [ ]:
def fact(num):
  if num==0 or num==1:
    return num
  else:
    return num+fact(num-1)
print("factorial number is :",fact(10))

factorial number is : 55

In [63]:
def fibo(num):
  if num <=1:
    return num
  else:
    return fibo(num-1)+fibo(num-2)
for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [87]:
my_name="vasu"
print(my_name[:4])

vasu

In [95]:
class fruit:
  colour="orange"
  price=250
  teste="sweet"
  shape="circle"
def juice(self):
  print(" ")
orange=fruit()
print("orange colour is",orange.colour)

orange colour is orange

In [105]:
class flower:
  smell="nice"
  petal=5
  size="medium"
  gender="male"
  validity=1.5
  def decoration(self):
    print("hello good morning")
  def gift(self):
    print("good afternoon")
  def marriage(self):
    print("marriage")
  def death(self):
    print("this flower is using for death time.")
obj=flower()
obj.marriage()
print(obj.gender)
obj.decoration()
obj.gift()
obj.death()

marriage
male
hello good morning
good afternoon
this flower is using for death time.

In [114]:
class fan:
  colour="black"
  wings=3
  c_name="bajaj"
  price=1500
  warrenty="2 years"
  def start(self):
    print("when click on button it'll start")
  def speed(self):
    print("based on condition it'll move fast")
  def stop(self):
    print("when click off button it'll stop")
obj=fan()
obj.start()
print(obj.c_name+" "+obj.warrenty)
obj.stop()
print(obj.price)
obj.speed()

when click on button it'll start
bajaj 2 years
when click off button it'll stop
1500
based on condition it'll move fast

In [116]:
class bank:
  def __init__(self,balance):
    self.balance=balance
  def deposit(self,amount):
    self.balance +=amount
  def withdraw(self,amount):
      if amount<=self.balance:
          self.balance-=amount
          print("transaction successfully 300")
      else:
        print("insufficient balance")
  def re_balance(self):
      return self.balance
obj=bank(1000)
print(obj.balance)
obj.deposit(500)
print(obj.balance)
obj.withdraw(700)
obj.re_balance()
print(obj.re_balance())
obj.deposit(1000)
print(obj.balance)
obj.withdraw(2000)
obj.re_balance()
print(obj.re_balance())
obj.withdraw(300)
obj.re_balance()
print(obj.balance)

1000
1500
transaction successfully 300
800
1800
insufficient balance
1800
transaction successfully 300
1500

In [126]:
class student:
    def __init__(self,name,marks,place):
        self.__name= name
        self.__marks= marks
        self.place= place

    def set_method(self,name,marks):
        self.name= name
        self.marks= marks

    def get_method(self):
        return self.name + " " +str(self.marks)


Obj= student("parth",85,"mangavati")
Obj.set_method("sharath",69)
print(Obj.get_method())

sharath 69

In [128]:
# 1) single inheritance

class parent:
    def work(self):
        print("my parents are doing forming")

class children(parent):
    def study(self):
        print("I'm studying BCAin bk college")

ch= children()
ch.work()
ch.study()

my parents are doing forming
I'm studying BCAin bk college

In [129]:
# multiple inhritence

class Father:
    def hi(self):
        print("My father is my first hero")

class Mother:
    def hello(self):
        print("My mother is a house wife")

class child(Father,Mother):
    def Bye(self):
        print("I'm working as a Freelancer")

obj=child()
obj.hi()
obj.hello()
obj.Bye()

My father is my first hero
My mother is a house wife
I'm working as a Freelancer

In [130]:
# multy level inhritence

class Grand_parents:
    def Formar(self):
        print("old family")

class parents (Grand_parents):
    def House(self):
        print("family")

class child (parents):
    def jolly(self):
        print("happy")

obj=child()
obj.House()
obj.jolly()
obj.Formar()

family
happy
old family

In [131]:
# hirarchy inheritance

class Parents:
    def Business(self):
        print("My Parents are doing business")

class child1(Parents):
    def study(self):
        print("I'm studying BCA")

class child2(Parents):
    def study(self):
        print("I'm studying PUC")


ch=child1()
ch.Business()
ch.study()

obj=child2()
obj.Business()
obj.study()

My Parents are doing business
I'm studying BCA
My Parents are doing business
I'm studying PUC

In [132]:
# hirarchy inheritance

class Parents:
    def Business(self):
        print("My Parents are doing business")

class child1(Parents):
    def study(self):
        print("I'm studying BCA")

class child2(Parents):
    def study(self):
        print("I'm studying PUC")


ch=child1()
ch.Business()
ch.study()

obj=child2()
obj.Business()
obj.study()

My Parents are doing business
I'm studying BCA
My Parents are doing business
I'm studying PUC